---
import Layout from '../layouts/Layout.astro';
import TaskApp from '../components/TaskApp.astro';
---
<button onclick="toggleDark()" style="position: fixed; top: 20px; right: 20px;">
  🌙
</button>

<script is:inline>
  function toggleDark() {
    document.body.classList.toggle("dark");
  }
</script>
<Layout>
  <div class="app">
    
    <!-- IZQUIERDA -->
    <div class="header">
  <h1>Mi App</h1>
  <p class="subtitle">Organizá tus tareas de forma simple y visual </p>
</div>

    <!-- DERECHA -->
    <div class="content">
      <section>
       
        <TaskApp />
      </section>

      <section>
        
      </section>
    </div>

  </div>

  <style> 
  .header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 32px;
}

.subtitle {
  margin-top: 5px;
  color: #555;
  font-weight: 300;
}
</style>
</Layout>