<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
  <main>
    <slot />
  </main>
</body>
</html>

<style>
 body {
  font-family: Arial, sans-serif;
  background: linear-gradient(40deg, #ffb4f4ff, #f26bdeff);
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center; /* ✔ */
  align-items: center;     /* ✔ */
}

.app {
  display: flex;
  gap: 30px;
}

.sidebar {
  width: 200px;
}

.sidebar h1 {
  text-align: left;
}

.content {
  flex: 1;
}

main {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 900px; /* 🔥 clave */
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

@media (max-width: 700px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}